 .img
{
	width: 100px;
 	height: 80px;
}
 .profile-pic
 {
 	border: solid 2px black;
 	border-radius: 25px;
 	padding: 0px 0px 0px 0px;
 	margin: 0px 0px 0px 0px;
 }
 .big-pic
 {
 	width: 250px;
 	height: 250px;
 }

 .medium-pic
 {
 	width: 125px;
 	height: 125px;
 }
  .medium_2-pic
 {
 	width: 95px;
 	height: 95px;
 }
 .small-pic
 {
 	width: 35px;
 	height: 35px;
 }
 .social_media-pic
 {
 	width: 35px;
 	height: 35px;
 }
.play-icon
{
	padding-top: 10px;
	width: 20px;
	height: 20px;
}
.big-pic-max
 {
 	width: 80%;
 }