.master
{
	width: 100%;
	height: 100%;
}

/*=============================================*/

.linha
{
	width: 100%;
	padding: 10px 0px 0px 10px;
	margin-bottom: 2.5px;
	margin-top: 2.5px;
}

.scroll-div
{
	overflow-y: scroll;
	width: 100%;
	height:400px;
}

/*=============================================*/

.col
{
	padding: 10px 10px 10px 10px;
}

.col-l
{
	float: left;
}
.col-r
{
	float: right;
}

.col-1
{
	width: 10%;
}
.col-2
{
	width: 20%;
}
.col-3
{
	width: 30%;
}
.col-4
{
	width: 40%;
}
.col-5
{
	width: 50%;
}
.col-6
{
	width: 60%;
}
.col-7
{
	width: 70%;
}
.col-8
{
	width: 80%;
}
.col-9
{
	width: 90%;
}
.col-10
{
	width: 100%;
}

/*=====================================*/
.col-0p5
{
	width: 5%;
}
.col-1p5
{
	width: 15%;
}
.col-2p5
{
	width: 25%;
}
.col-3p3
{
	width: 33%;
}
.col-5p5
{
	width: 55%;
}
.col-6p5
{
	width: 65%;
}

/*=====================================*/

.pula-1
{
	margin-left: 10%;
}
.pula-2
{
	margin-left: 20%;
}
.pula-3
{
	margin-left: 30%;
}
.pula-4
{
	margin-left: 40%;
}
.pula-5
{
	margin-left: 50%;
}
.pula-6
{
	margin-left: 60%;
}
.pula-7
{
	margin-left: 70%;
}
.pula-8
{
	margin-left: 80%;
}
.pula-9
{
	margin-left: 90%;
}
.pula-10
{
	margin-left: 100%;
}

/*======================================*/
.pula-0p5
{
	margin-left: 5%;
}
.pula-1p5
{
	margin-left: 15%;
}
.pula-2p5
{
	margin-left: 25%;
}
.pula-3p3
{
	margin-left: 33%;
}
.pula-5p5
{
	margin-left: 55%;
}
.pula-6p5
{
	margin-left: 65%;
}
/*=====================================*/

.pula-1-r
{
	margin-right: 10%;
}
.pula-2-r
{
	margin-right: 20%;
}
.pula-3-r
{
	margin-right: 30%;
}
.pula-4-r
{
	margin-right: 40%;
}
.pula-5-r
{
	margin-right: 50%;
}
.pula-6-r
{
	margin-right: 60%;
}
.pula-7-r
{
	margin-right: 70%;
}
.pula-8-r
{
	margin-right: 80%;
}
.pula-9-r
{
	margin-right: 90%;
}
.pula-10-r
{
	margin-right: 100%;
}

/*======================================*/
.pula-0p5-r
{
	margin-right: 5%;
}
.pula-1p5-r
{
	margin-right: 15%;
}
.pula-2p5-r
{
	margin-right: 25%;
}
.pula-3p3-r
{
	margin-right: 33%;
}
.pula-5p5-r
{
	margin-right: 55%;
}
.pula-6p5-r
{
	margin-right: 65%;
}

/*=====================================*/
.clear
{
	clear: both;
}